layout {

    focus-ring {
        active-color   "#77daa0"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#77daa0"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#77daa0"
        inactive-color "#005230"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#77daa080"
    }
}

recent-windows {
    highlight {
        active-color "#77daa0"
        urgent-color "#ffb4ab"
    }
}
