layout {

    focus-ring {
        active-color   "#98cbff"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#98cbff"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#98cbff"
        inactive-color "#004a77"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#98cbff80"
    }
}

recent-windows {
    highlight {
        active-color "#98cbff"
        urgent-color "#ffb4ab"
    }
}
